.country-section {
      --VeryLightGray: hsl(0, 0%, 98%);
      background-color: var(--VeryLightGray);
      /* outline: 1px solid green; */
      height: 88vh;
      padding: 2rem 1rem 2rem 1rem;
}

.country-list {
      margin: 2rem 0;
      /* outline: 1px solid red; */
      display: flex;
      flex-direction: column;
      align-items: center;
}