select {
      margin-top: 1rem;
      /* margin-left: 1rem; */
      background-color: white;
      border: none;
      /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 1rem 1rem 1rem 1rem;
      width: 12rem;
      background-position: right;
      border-right: 16px solid transparent;
      /* outline: 1px solid red; */
}

@media all and (min-width: 600px) {
      select {
            margin-top: 0;
      }
}

.region-drop-down.Dark>select {
      background-color: var(--DarkBlue);
      color: white;
}