.Heading {
      padding: 2rem 1rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      /* outline: 1px solid red; */
}

figure {
      display: flex;
}

svg {
      fill: var(--DarkBlue);
}

.theme__dark {
      cursor: pointer;
}

.Heading.Dark {
      background-color: var(--DarkBlue);
}

.Heading.Dark>h2,
.Heading.Dark>.theme>.theme__dark>figure>p {
      color: white;
}

.Heading.Dark>.theme>.theme__dark>figure>div>svg {
      fill: white;
}