.country-details-page {
      padding-top: 2rem;
      margin: 0 2rem;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
}

.back-button {
      text-decoration: none;
      color: black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 0.25rem 1.5rem;
      margin-bottom: 2rem;
      align-self: start;
      display: flex;
      align-items: center;
}

.back-button>svg {
      margin-right: 0.5rem;
}

@media all and (max-width: 699px) {
      .text-details {
            margin-top: 2rem;
      }
}

@media all and (min-width: 700px) {
      .flag-and-details {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            justify-items: start;
            align-items: start;
            width: 100%;
      }

      .flag-image {
            width: 35rem;
            height: auto;
      }

      .text-details {
            margin-top: 0rem;
      }
}

.country-details-page.dark>.back-button {
      color: white;
}

.country-details-page.dark>.back-button>svg {
      fill: white;
}

.text-details {
      width: 100%;
      line-height: 1.75rem;
}

.text-details>h3 {
      margin-bottom: 1rem;
}

.country-details-page.dark {
      background-color: var(--DarkBlue);
      color: white;
}

.currency-name~.currency-name::before,
.language-name~.language-name::before {
      content: ', ';
}