@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Nunito Sans', sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h2,
h3 {
  font-weight: 800;
}